/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  font-family: "Arial", sans-serif;
  color: #fff;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  background: rgba(245, 158, 120, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar .nav-links button {
  margin-left: 15px;
  padding: 8px 16px;
  border: none;
  background: #ff6600;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.navbar .nav-links button:hover {
  background: #e65c00;
}

/* Hero Section */
.hero-section {
  background-image: url('https://i.postimg.cc/cHmzYZ4C/download-5.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  background: rgba(44, 42, 42, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color:aliceblue
}

.get-started {
  padding: 12px 25px;
  font-size: 1rem;
  background: #ff6600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started:hover {
  background: #e65c00;
}

/* Sports Section */
.sports-section {
  padding: 60px 20px;
  background: #f0f0f0;
  text-align: center;
}

.sports-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* Footer */
.footer {
  background: #000;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
